*{
    font-family: 'Roboto', sans-serif;
}

:root{
    --color-bg-search-bar: #e5e5e5;
    --color-bg-body: #f8f9fa;
    --color-side-bar: #0f263d;
    --color-nav-bar: #1b72e8;
}

header{
    background-color: var(--color-bg-search-bar);
}

.bg-sidebar{
    background-color: #014cb6;
}

.border{
    border: 2px solid black;
}

#nav-bar{
    height: 55px;
}

#big-logo{
    width: 150px;
}

#logo-small{
    height: 40px;
}

#stats-img img{
    width: 100%;
}

#avatar-logo{
    height: 25px;
}

.wrapper{
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    height: 75px;
}

main{
    width: 100%;
    height: calc(100% - 75px);
    display: flex;
}

.card{
    margin-top: 20px;
}

#sidebar{
    width: 150px;
    height: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--color-side-bar);
}

#main-content{
    width: 100%;
    overflow-y: auto;
}

li{
    padding-top: 10px;
}

/* Search bar */

.search{
    position: relative;
}

.search .fa-search{
    position: absolute;
    top: 11px;
    left: 20px;
}

.fa-plus{
    border: 1px solid var(--color-bg-search-bar);
    padding: 10px;
    margin: 0px 3px;
    border-radius: 10px;
}

.fa-trash, .fa-pencil{
    border: 1px solid var(--color-bg-search-bar);
    color: grey;
    padding: 5px;
    margin: 0px 3px;
}

@media screen and (max-width:992px){

    #sidebar{
        width: 75px;
    }
}